<h1>Listing Arduinos</h1>

<table class="show">
  <tr>
    <th>Name</th>
    <th>Port</th>
    <th>Speed</th>
    <th colspan="3">Actions</th>
  </tr>

<% @arduinos.each do |arduino| %>
  <tr>
    <td><%= link_to arduino.name, arduino_path(arduino) %></td>
    <td><%= arduino.port %></td>
    <td><%= arduino.speed %></td>
    <td><%= link_to 'Edit', edit_arduino_path(arduino) %></td>
    <td><%= link_to 'Destroy', arduino, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Arduino', new_arduino_path %>
